APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

# AWS Cognito (추후 설정)
# AWS_REGION=ap-northeast-2
# COGNITO_USER_POOL_ID=
# COGNITO_CLIENT_ID=
# COGNITO_CLIENT_SECRET=

# Database
DATABASE_URL=postgresql+psycopg://<user>:<password>@<host>:<port>/<database>
